<% include ./partials/head %>

	<div class="ui fluid blue card">

		<div class="content">
			<div class="right floated">
				<% if (database[id].gender.toUpperCase() === "MALE") { %>
					<p><i class="circular inverted blue man icon"></i></p>
				<% } else if (database[id].gender.toUpperCase() === "FEMALE") { %>
					<p><i class="circular inverted purple woman icon"></i></p>
				<% } %>
				<% if (database[id].captain === "Y" || database[id].captain === "y") { %>
					<p><i class="circular inverted orange star icon"></i></p>
				<% } %>
			</div>
			<div class="header"><h1><%= database[id].firstName %> <%= database[id].lastName %></h1></div>
			<div class="meta">
				<% if (database[id].team) { %>
					<a href="/list/teams#<%= database[id].team %>"><h2>Currently on Team <%= database[id].team %></h2></a>
				<% } else { %>
					<h2>No team assigned</h2>
				<% } %>
			</div>
			<div class="description">
				<p> <% if(database[id].age && database[id].age > 0) { %>
							<%= database[id].age %> years old,
						<% } %>
						<strong><%= database[id].position %></strong>,
						<% if (database[id].yearsExperience === "0") { %>
							first-year
						<% } else if (database[id].yearsExperience === "1") { %>
							1 year experience
						<% } else { %>
							 <%= database[id].yearsExperience %> years experience
						<% } %>
				</p>
			</div>
		</div>
	</div>
	
		<div class="ui styled fluid accordion">
			<div class="title">
				<i class="info icon"></i>
				Contact Info
			</div>
			<div class="center aligned content">
				<% if (database[id].homeAddress ) { %>
					<button class="ui fluid secondary basic button"><i class="home icon"></i> <%= database[id].homeAddress.toUpperCase() %></button><br />
				<% } %>
				<% if (database[id].Phone ) { %>
					<a class="ui fluid blue button"href="tel:4104745931"><i class="call icon"></i> <%= database[id].Phone %></a><br />
				<% } %>
				<% if (database[id].emailAddress ) { %>
					<a class="ui fluid green button" href="mailto:kybard@gmail.com"><i class="mail icon"></i> <%= database[id].emailAddress.toLowerCase() %></a>
				<% } %>
			</div>
			<% if (database[id].ecName ) { %>
				<div class="title">
					<i class="warning red icon"></i>
					Emergency Contact
				</div>
				<div class="content">
					<h3 class="ui dividing header"><%= database[id].ecName.toUpperCase() %>, <span style="text-transform: capitalize;"><%= database[id].ecRel %></span></h3>
					<a class="ui huge fluid red button" href="tel:4104745931"><i class="call icon"></i> <%= database[id].ecPhone %></a>
				</div>
			<% } %>
			<div class="active title">
				<i class="plus icon"></i>
				Add Note/Score
			</div>
			<div class="active content">
				<form class="ui form" action="/player/<%= database[id].ID %>" method="POST">
					<div class="field">
						<input class="hidden" type="text" name="noteBallperson" value="<%= database[id].firstName + " " + database[id].lastName %>">
						<div class="ui selection dropdown">
              <input name="noteScore" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text" data-value="0">Score</div>
              <div class="menu">
                <div class="item" data-value="0">No score</div>
                <div class="item" data-value="1"><i class="yellow star icon"></i></div>
                <div class="item" data-value="2"><i class="yellow star icon"></i><i class="yellow star icon"></i></div>
                <div class="item" data-value="3"><i class="yellow star icon"></i><i class="yellow star icon"></i><i class="yellow star icon"></i></div>
                <div class="item" data-value="4"><i class="yellow star icon"></i><i class="yellow star icon"></i><i class="yellow star icon"></i><i class="yellow star icon"></i></div>
                <div class="item" data-value="5"><i class="yellow star icon"></i><i class="yellow star icon"></i><i class="yellow star icon"></i><i class="yellow star icon"></i><i class="yellow star icon"></i></div>
              </div>
            </div>

            <textarea required name="noteNote"></textarea>
						<button class="ui fluid green bottom attached button" type="submit">Submit</button>
					</div>
					
				</form>
			</div>
			<div class="title">
				<i class="dropdown icon"></i>
				Read All Notes
			</div>
			<div class="content">
				<div class="ui comments">
				  <div class="comment">
						<% if (database[id].notes.length === 0) { %>
						<p><em>No notes found.</em></p>
						<% } else { %>
							<% database[id].notes.forEach(function(note) { %>
								<div class="content">
									<a class="author"><%= note.author %></a>
									<div class="metadata">
										<span class="date"><%= note.timestamp %></span>
									</div>
                  <% if (note.score > 0) { %>
                  <div class="ui message"> 
                  <% for (i = 0; i < note.score; i++) { %>
                    <i class="yellow star icon"></i>
                  <% } %>
                  </div>
                  <% } %>
									<div class="text">
										<%= note.note %>
									</div>
								</div>
							<% }); %>
						<% } %>
					</div>
				</div>
			</div>
	</div>

<% include ./partials/foot %>